*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{ 
    width: 100%;
    height: 100vh;
    background: #070d0e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #275f65;
    width: 92%;
    padding: 12px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;

}

.calculator form input{
    border: 1px solid white;
    outline: 0;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 20px 0;
    color: black;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

.operator {
    background-color: #ff9f0a;  
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    align-items: center;
    text-align: center;
}

.operator:hover {
    background-color: #ffb848;  
}

.number:hover{
    background-color: #ffb848;
}

#display{
    border: 2px solid rgb(247, 246, 246);
    border-radius: 20px;
    color: #070d0e;
    padding: 15px 20px;
    
}

.heading{
    font-size: 60px;
    font-weight: 700;
    background-color: #e86d08;
}